<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025. Tobe Wang
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhaofd.demomybatisweb.modules.demo.repository.SysAddressRepository">
    <!-- cache -->

    <!-- cache-ref -->

    <!-- resultMap -->

    <!-- sql -->
    <sql id="columns">
        id, address, zipcode, userid
    </sql>

    <!-- insert -->

    <!-- delete -->

    <!-- update -->

    <!-- select -->
    <select id="findById" resultType="sysAddress">
        select
            <include refid="columns"/>
        from sys_address where id = #{id}
    </select>

    <select id="findByUserId" resultType="sysAddress">
        select
            <include refid="columns" />
        from sys_address where USERID = #{userid}
    </select>

    <!-- procedure -->

    <!-- function -->

</mapper>
