<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025. Tobe Wang
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhaofd.demomybatisweb.modules.demo.repository.SysAddressRepository">
    <!-- cache -->

    <!-- cache-ref -->

    <!-- resultMap -->
    <resultMap id="mapSysAddress" type="SysAddress">
        <id property="id" column="id"/>
        <result property="address" column="address"/>
        <result property="zipcode" column="zipcode"/>
        <result property="userid" column="userid"/>
        <association property="sysUser" javaType="SysUser"  columnPrefix="u_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="regtime" column="regtime"/>
        </association>
    </resultMap>

    <!-- sql -->
    <sql id="columns">
        id, address, zipcode, userid
    </sql>

    <!-- insert -->

    <!-- delete -->

    <!-- update -->

    <!-- select -->
    <select id="findById" resultType="sysAddress">
        select
        <include refid="columns"/>
        from sys_address where id = #{id}
    </select>

    <select id="findAllById" resultMap="mapSysAddress">
        select a.id,
               a.address,
               a.zipcode,
               a.userid,
               u.id      as u_id,
               u.name    as u_name,
               u.sex     as u_sex,
               u.regtime as u_regtime
        from sys_address a
                 left join sys_user u on a.userid = u.id
        where a.id = #{id}
    </select>

    <select id="findByUserId" resultType="sysAddress">
        select
        <include refid="columns"/>
        from sys_address where USERID = #{userid}
    </select>

    <!-- procedure -->

    <!-- function -->

</mapper>
