<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2025. Tobe Wang
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhaofd.demomybatisweb.modules.demo.repository.SysUserRepository">
    <!-- cache -->
<!--    <cache eviction="LRU" />-->

    <!-- cache-ref -->
<!--    <cache-ref namespace="com.afant.demo.sys.mapper.SysMapper"/>-->

    <!-- resultMap -->
<!--    <resultMap id="mapSysUser" type="SysUser">-->
<!--        <id property="id" column="ID" />-->
<!--        <result property="name" column="NAME" />-->
<!--        <result property="sex" column="SEX" />-->
<!--        <collection property="listSysAddress" ofType="SysAddress" javaType="ArrayList" column="id" select="com.afant.demo.sys.mapper.SysAddressMapper.selectByUserid" />-->
<!--    </resultMap>-->

    <!-- sql -->
    <sql id="columns">
        id, name, sex, regtime
    </sql>

    <!-- insert -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(name, sex, regtime) values(#{name}, #{sex}, #{regtime})
    </insert>

    <insert id="saveAll" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(name, sex, regtime) values
        <foreach item="item" collection="list" separator=",">
            (#{item.name}, #{item.sex}, #{item.regtime})
        </foreach>
    </insert>

    <!-- delete -->
    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>

    <delete id="delete">
        delete from sys_user where id in (
            <foreach item="item" collection="list" separator=",">
                #{item}
            </foreach>
        )
    </delete>

    <!-- update -->
    <update id="update">
        update sys_user set name = #{name}, sex = #{sex}, regtime = #{regtime} where id = #{id}
    </update>

    <!-- select -->
    <select id="findById" resultType="sysUser">
        select
            <include refid="columns" />
        from sys_user where id = #{id}
    </select>

    <select id="find" resultType="sysUser">
        <if test="name_LIKE != null and name_LIKE != ''">
            <bind name="nameLike" value="'%' + name_LIKE + '%'"/>
        </if>

        select
            <include refid="columns" />
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <choose>
                <when test="name != null">
                    and name = #{name}
                </when>
                <when test="nameLike != null">
                    and name like #{nameLike}
                </when>
            </choose>
            <if test="sex != null">
                and sex = #{sex}
            </if>
        </where>
        <if test="ORDER_BY != null and ORDER_BY != ''">
            order by ${ORDER_BY}
        </if>
    </select>

    <select id="findPage" resultType="sysUser">
        <if test="name_LIKE != null and name_LIKE != ''">
            <bind name="nameLike" value="'%' + name_LIKE + '%'"/>
        </if>

        select
        <include refid="columns" />
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <choose>
                <when test="name != null">
                    and name = #{name}
                </when>
                <when test="nameLike != null">
                    and name like #{nameLike}
                </when>
            </choose>
            <if test="sex != null">
                and sex = #{sex}
            </if>
        </where>
        <if test="ORDER_BY != null and ORDER_BY != ''">
            order by ${ORDER_BY}
        </if>
        limit #{PAGE_OFFSET}, #{PAGE_SIZE}
    </select>

    <select id="count" resultType="long">
        <if test="name_LIKE != null and name_LIKE != ''">
            <bind name="nameLike" value="'%' + name_LIKE + '%'"/>
        </if>

        select count(1) from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <choose>
                <when test="name != null">
                    and name = #{name}
                </when>
                <when test="nameLike != null">
                    and name like #{nameLike}
                </when>
            </choose>
            <if test="sex != null">
                and sex = #{sex}
            </if>
        </where>
    </select>

    <!-- procedure -->
<!--    <select id="procGetSysUser" resultMap="mapSysUser" useCache="false" statementType="CALLABLE">-->
<!--        {call PROC_GET_SYS_USER(#{name,mode=IN,javaType=String,jdbcType=VARCHAR})}-->
<!--    </select>-->

    <!-- function -->

</mapper>
